# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

#intellij ide project info
.idea/

#mac files
.DS_Store

#google appengine files
app.yaml
Dockerfile

#environment scripts
*Env

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
